# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/

# Django stuff:
*.log
*.pot
*.pyc
*.db
*.sqlite3
.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.py
